.socials
  span.socials__btn(
    title="share on facebook"
    aria-label="share on facebook"
    data-sharer="facebook"
    data-hashtag="qwerty"
    data-url="http://qwerty-studio.surge.sh/blog-page.html")
    +svgMono('social-facebook')
  span.socials__btn(
    title="share on twitter"
    aria-label="share on twitter"
    data-sharer="twitter"
    data-title="Page title"
    data-hashtags="qwerty"
    data-url="http://qwerty-studio.surge.sh/blog-page.html")
    +svgMono('social-twitter')
  span.socials__btn(
    title="share on pinterest"
    aria-label="share on pinterest"
    data-sharer="pinterest"
    data-url="http://qwerty-studio.surge.sh/blog-page.html")
    +svgMono('social-pinterest')